.post{
    color: white;
    background-color: #394857;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
    padding: 0 40px;
    max-width: 900px;
}

.postImg{
    width: 800px;
    border-radius: 10px;
}

.postButton{
    width: 50px;
    height: 30px;
    font-size: 25px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 8px;

}

.postBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -25px;
}

.likes{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.postAuthor{
    margin-right: 10px;
    font-size: 24px;
    margin: 15px;
}

.p-likes{
    font-size: 24px;
    margin: 15px;
}

.postName{
    margin: 10px;
}

.postDescription{
    margin: 10px;
    font-size: 18px;
}

.post a{
    text-decoration: none;
    color: white;
}