.postPage{
    color: white;
    text-align: center;
    width: 1400px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.postPage h1{
    font-size: 36px;
    margin-bottom: 20px;
}

.postPage img{
    border-radius: 10px;
}

.postPage h2{
    text-align: left;
    margin-top: 15px;
}

.postPage p{
    text-align: left;
    font-size: 30px;
    margin: 20px 0;
    color: bisque;
}

.loading{
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.error{
    font-size: 32px;
    color: white;
}


.postPage-likes{
display: flex;
}


.postPage-likes p{
    color: white;
}

.postPage-likes button{
    margin-top: 12px;
    font-size: 32px;
}