.postPage{
    color: white;
    text-align: center;
    width: 1400px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.postPage h1{
    font-size: 36px;
    margin-bottom: 20px;
}

.postPage img{
    border-radius: 10px;
}

.postPage h2{
    text-align: left;
    margin-top: 15px;
}

.postPage p{
    text-align: left;
    font-size: 30px;
    margin: 20px 0;
    color: bisque;
}

.loading{
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.error{
    font-size: 32px;
    color: white;
}


.postPage-likes{
display: flex;
}


.postPage-likes p{
    color: white;
}

.postPage-likes button{
    margin-top: 12px;
    font-size: 32px;
}

.postButton{
    margin: 15px;
}

.comment-title{
    font-size: 36px;
    text-align: left;
    margin-top: 20px;
}

.comments-h3{
    font-size: 40px;
    text-align: left;
    margin-top: 15px;
}

.comments{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-top: 2px solid white;
    gap: 20px;
    margin-bottom: 20px;
}

.comment-div{
    background-color: rgb(49, 46, 46);
    padding: 20px;
    border-radius: 15px;
}

.comment-div p{
    font-size: 28px;
    color: white;
    text-align: left;
}

.comment-field{
    width: 100%;
    font-size: 20px;
    height: 80px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.leave-comment{
    margin-top: 15px;
    margin-bottom: 20px;
}

.leave-comment h2{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 36px;
}

.submit-comment{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    outline: none;
    background-color: rgb(65, 64, 64);
    border: none;
    color: white;
    border-radius: 10px;
}

.comment-login{
    text-decoration: none;
}
 
.comment-login p {
    color: rgb(218, 151, 151);
}