.postPage{
    color: white;
    text-align: center;
    width: 1400px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.postPage h1{
    font-size: 36px;
    margin-bottom: 20px;
}

.postPage img{
    border-radius: 10px;
}

.postPage h2{
    text-align: left;
    margin-top: 15px;
}

.postPage p{
    text-align: left;
    font-size: 30px;
    margin: 20px 0;
    color: bisque;
}

.loading{
    height: 100px;
    width: 100px;
}
